.contain {
  background-color: #140227;
}
.contain1 {
  background-color: #140227;
  display: flex;
  justify-content: space-evenly;
}
.silicon {
  font-family: cursive;
}
h1,
p {
  margin: 30px;
  color: white;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.NFT {
  margin: 30px;
}
.btns {
  margin: 30px;
  align-items: center;
  margin: 20px;
}
.explore {
  width: 120px;
  height: 30px;
  background-color: white;
  color: #6604b9;
  border: none;
  border-radius: 4px;
}
.mint {
  width: 120px;
  height: 30px;
  margin-left: 40px;
  background-color: #6604b9;
  color: white;
  border: none;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .dummy {
    width: 340px;
    height: auto;
  }
}
