.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.logo {
  width: 230px;
  height: 65px;
}
.search-div {
  display: flex;
  border: none;
  background-color: #6604b9;
  color: white;
}
.search {
  background-color: #6604b9;
  color: white;
  border: none;
  border-top-left-radius: 5px;
}
.search-icon {
  background-color: #6604b9;
}
.btn1 {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  background-color: #6604b9;
  color: white;
}
.btn2 {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  color: #6604b9;
  background-color: white;
}
ul {
  display: flex;
  list-style-type: none;
  font-size: 12px;
}
li {
  margin: 4px;
}
.icon {
  display: flex;
  justify-content: center;
}
button {
  margin: 2px;
}
.point {
  display: flex;
}
@media (max-width: 600px) {
  ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 10px;
  }
  li {
    padding: 3px;
  }
  .search {
    justify-content: center;
    border: none;
    width: 60px;
  }
  .search-div {
    display: flex;
    justify-content: center;
    margin-left: 45px;
  }
  .point {
    justify-content: center;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
}
